---
import __AstroComponent_ from './posts/[...slug].astro'
import Layout from '../layouts/Layout.astro'
import Hero from '../components/Hero.astro'
import Form from '../components/Form.astro'
import CardFront from '../components/CardFront.astro'
import CardBack from '../components/CardBack.astro'
// import { getCollection } from 'astro:content';
---

<style>
	@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
*{font-family: Space Grotesk, sans-serif;}
	#div1 {
		background: rgb(49, 15, 66);
		background: linear-gradient(
			171deg,
			rgba(49, 15, 66, 1) 0%,
			rgba(72, 30, 78, 1) 13%,
			rgba(48, 37, 80, 1) 34%,
			rgba(0, 0, 0, 1) 84%
		);
	}
</style>
<Layout title="Welcome to Astro.">
	<div id="div1" class="w-[33%] h-screen relative">
<CardFront/>
<CardBack/>
	</div>
	<div class="bg-white w-[67%] h-screen flex justify-center items-center">
		<Form />
	</div>
	<!-- 		<Hero
			title = "Comienza a programar"
			span="Siente a gusto hacer las modificaciones según tu necesidad"
            etiqueta='Hecho con cariño por Lenin y José Tomas Mendoza '
            corazon="♥"
		/> -->
	<!-- <ul role="list" class="link-card-grid">
        Esta parte es para iterar en los post
            
            {
            todoPost.map(i => (
                <Card
                tags={i.data.etiqueta}
                title={i.data.title}
                time={i.data.pubDate}
                slug={i.slug}
                />
            ))
        }
    </ul> -->
</Layout>
