---

---
    <div class="absolute  top-[200px] left-[350px] w-[max-content;] h-auto">
        <img class="absolute top-[30px] left-[30px]" src="../../public/images/card-logo.svg" alt="">
        <p id="number" class="absolute top-[50%] text-white text-[30px] left-[5%] tracking-[4px]">9591 6489 6389 1013</p>
        <div class="absolute flex justify-between w-full bottom-6 text-white px-6">
            <p id="name">JOSE MENDOZA</p>
            <div class="flex fechas">
                <p id="fechaMes">09</p>
                <span>/</span>
                <p id="fechaAno">23</p>
            </div>
        </div>
        <img src="../../public/images/bg-card-front.png" alt="" />
    </div>

