---

---
    <div class="absolute  top-[200px] left-[350px] w-[max-content;] h-auto">
        <img class="absolute top-[30px] left-[30px]" src="../../public/images/card-logo.svg" alt="">
        <p class="absolute top-[50%] text-white text-[30px] left-[5%] tracking-[4px]">9591 6489 6389 1013</p>
        <div class="absolute flex justify-between w-full bottom-6 text-white px-6">
            <p class="">JOSE MENDOZA</p>
            <p class="">09/00</p>
        </div>
        <img src="../../public/images/bg-card-front.png" alt="" />
    </div>
