---

---
<form>
  <div class="flex flex-col w-[385px] h-[45px] rounded-[20px] font-sg">
    <label for="card">CARDHOLDER NAME</label>
    <input id = "card" type="text" class="rounded border border-[#600594]" />
  </div>
  <div class="flex flex-col w-[385px] h-[45px] rounded-[20px] font-sg mt-12">
    <label for="card">CARD NUMBER</label>
    <input id = "card" type="text" class="rounded border border-[#600594]" />
  </div>
</form>