---

---
<form class="flex justify-center flex-col items-center ml-[200px] mt-20 ">
  <div class="flex justify-center flex-col items-center w-[385px] h-[45px] rounded-[20px] font-sg mb-[45px] ml-5">
    <label for="card">CARDHOLDER NAME</label>
    <input id = "card" type="text" class="rounded border border-[#600594]" />
  </div>
  <div class="flex justify-center flex-col items-center w-[385px] h-[45px] rounded-[20px] font-sg ml-5 mb[45px]" >
    <label for="card">CARD NUMBER</label>
    <input id = "card" type="text" class="rounded border border-[#600594] r" />
    </div>
    <div class="flex justify-center flex-col items-center w-[385px] h-[45px] rounded-[20px] font-sg ml-5" >
      <label for="card">CARD NUMBER</label>
      <input id = "card" type="text" class="rounded border border-[#600594] r" />
    </form>